.btn {
  padding: 0.5em;
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);

  a {
    text-decoration: none;
  }

  &--green {
    border: 2px solid $green;
    margin-top: 1.5em;

    &:hover {
      background-color: $green;
      color: black;
    }
  }

  &--reset {
    background-color: red;
  }

  &--submit {
    background-color: green;
  }
}

.home-btn {
  border: 2px solid $input-border;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 1.5em;

  &:hover {
    background-color: $input-border;
    border: 2px solid transparent;
    color: black;
  }
}
