.context {
  flex-direction: column;
  position: absolute;
  font-size: 1.05em;
  width: max-content;
  background-color: $electric-blue;
  border-radius: 0.5em;
  @include box-shadow;

  &__list {
    margin: 0;
    padding: 0;

    &__item {
      flex-direction: row;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      list-style-type: none;
      padding-right: 0.5em;
      cursor: pointer;

      p {
        width: max-content;
        color: black;
      }

      svg {
        width: 3em;
      }

      &:hover {
        background-color: black;

        p {
          color: $electric-blue;
        }

        svg {
          stroke: $electric-blue;
        }
      }
    }
  }
}
