.input {
  @include input;

  &:disabled {
    cursor: not-allowed;
  }
}

.input:not(:focus):invalid,
.invalid {
  border: 2px solid red;
  box-shadow: 0 0 8px 3px red;
}

::placeholder {
  font-style: italic;
  color: lightgray;
}
