@mixin align($justify: start, $align: start) {
  justify-content: $justify;
  align-items: $align;
}
@mixin autocomplete {
  flex-direction: column;
  @include input;
  margin: 0 0 1em;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  max-height: 10em;
  overflow: auto;

  p {
    margin: 0;
    padding: 0.5em;
    text-overflow: ellipsis;
    min-width: 0;
    white-space: nowrap;

    &:hover {
      color: black;
      background-color: $input-border;
      cursor: pointer;
    }
  }
}
@mixin background-image {
  background-image: url("../wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@mixin box-shadow {
  box-shadow: 10px 10px 12px 2px $translucent-black;
}
@mixin help {
  cursor: pointer;
  z-index: 1;

  &:hover {
    .help__hover {
      opacity: 1;
    }
  }

  .help__hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    stroke: $electric-blue;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
}
@mixin input {
  border: 2px solid $input-border;
  background-color: rgba(0,0,0,.4);
  border-radius: 0.2em;
  padding: 0.5em;
  margin: 1em 0;
}
@mixin simple-step {
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  width: 100%;
  flex-direction: column;
  height: 60vh;
}
@mixin textarea($min-width: 100%, $max-width: 100%, $min-height: 90%, $max-height: 90%) {
  width: $min-width;
  min-width: $min-width;
  max-width: $max-width;
  height: $min-height;
  min-height: $min-height;
  max-height: $max-height;
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 0.5em;
  background-color: $translucent-black;
}
@mixin warning {
  color: red;
  font-style: italic;
  align-self: center;
  margin-top: 1.5em;
  font-size: 1.05em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: $translucent-black;
}
