// Colors
$electric-blue: #00c0ff;
$input-border: #add8e6;
$green: rgba(46, 178, 50, 1);
$protip: #33da2b;
$red: rgba(235, 0, 0, 1);
$translucent-black: rgba(0, 0, 0, 0.5);

// Animations
$ease: cubic-bezier(.2,.72,.08,.84);
