<div class="about__container hidden">
  <div class="about__container__child flex">
    <h2 class="about__container__child__title">PIB Manager</h2>
    <section class="about__container__child__section flex">
      <img class="about__container__child__section__img" src="./src/scss/icons/favicon.png" alt="Logo de PIB Manager">
      <section class="about__container__child__section__right flex">
        <span class="about__container__child__section__right__item version flex">
          <u>Version</u>
          <p> :</p>
          <p class="currentVersion"><%= currentVersion %></p>
          <button class="updateBtn btn home-btn" type="button">Check for updates</button>
        </span>
        <span class="about__container__child__section__right__item dev flex">
          <u>Développeur</u>
          <p> :</p>
          <p>Maxime Vanderwegen (belgianGeek)</p>
        </span>
        <span class="about__container__child__section__right__item license flex">
          <u>Licence</u>
          <p> :</p>
          <p>GNU GPL v3</p>
        </span>
        <p class="about__container__child__section__right__item text">
          PIB Manager est un gestionnaire de prêts interbibliothèques développé avec ❤️ en Belgique 🍺.
        </p>
        <span class="about__container__child__section__right__item links flex">
          <a href="https://github.com/belgianGeek/pib-manager" target="_blank" rel="noreferrer">Dépôt Github</a>
          <a href="https://github.com/belgianGeek/pib-manager/issues" target="_blank" rel="noreferrer">Signaler un problème</a>
        </span>
      </section>
    </section>
  </div>
</div>
