<section class="inRequests inRequests__step2 hidden">
  <form class="inRequests__form flex" action="/" method="post">
    <h2 class="title">Informations PIB</h2>
    <span class="inRequests__form__pibInfo flex">
      <input class="inRequests__form__pibInfo__pibNb input" type="number" placeholder="Numéro PIB..." minlength="6" maxlength="6" required="true">
      <input class="inRequests__form__pibInfo__borrowingLibrary input" type="text" placeholder="Bibliothèque d'origine..." required="true">
      <input class="inRequests__form__pibInfo__loanLibrary input" type="text" placeholder="Bibliothèque emprunteuse..." value="Perwez" required="true">
      <input class="inRequests__form__pibInfo__requestDate input" type="date" required="true">
      <label>
        Hors-Province ?
        <input class="inRequests__form__pibInfo__outProvince input" type="checkbox">
      </label>
    </span>
    <h2 class="title">Informations du lecteur</h2>
    <span class="inRequests__form__readerInfo flex">
      <span class="inRequests__form__readerInfo__container flex">
        <input class="inRequests__form__readerInfo__container__name input" type="text" placeholder="Nom du lecteur..." required="true">
        <span class="inRequests__form__readerInfo__container__autocomplete hidden"></span>
      </span>
    </span>
    <h2 class="title">Informations du document</h2>
    <span class="inRequests__form__docInfo flex">
      <input class="inRequests__form__docInfo__title input" type="text" placeholder="Titre du document..." required="true">
      <input class="inRequests__form__docInfo__author input" type="text" placeholder="Auteur du document..." required="true">
      <input class="inRequests__form__docInfo__cdu input" type="text" placeholder="CDU..." required="true">
      <input class="inRequests__form__docInfo__inv input" type="text" placeholder="N° d'inventaire..." required="true">
    </span>
    <span class="inRequests__form__btnContainer flex">
      <button class="inRequests__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
      <button class="inRequests__form__btnContainer__submit inRequests__step2__btn btn btn--submit" type="submit">Valider</button>
      <button class="inRequests__form__btnContainer__hide inRequests__step2__btn btn home-btn hidden" type="button">Annuler</button>
    </span>
  </form>
  <span class="inRequests__barcode flex">
    <svg class="inRequests__barcode__svg"></svg>
  </span>
</section>
