<!DOCTYPE html>
<html lang="fr-BE" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="src/scss/prefixed/index.css">
  <title>📚 PIB Manager</title>
</head>

<body>
  <div class="backgroundColor"></div>
  <header class="header">
    <img class="header__icon returnIcon hidden" alt="Retour en arrière" src="src/scss/icons/return.svg">
    <span class="header__msg hidden">Étape précédente</span>
  </header>
  <div class="wrapper flex">
    <section class="home flex">
      <h1 class="home__mainTitle">Bienvenue dans PIB Manager</h1>
      <h2 class="home__title title">Que veux-tu faire ?</h2>
      <span class="home__btnContainer flex">
        <button class="home__btnContainer__outRequests btn home-btn" type="button">Perwez prête</button>
        <button class="home__btnContainer__inRequests btn home-btn" type="button">Perwez emprunte</button>
        <button class="home__btnContainer__inReturns btn home-btn" type="button">Retour vers une autre bibliothèque</button>
        <button class="home__btnContainer__outReturns btn home-btn" type="button">Retour vers Perwez</button>
      </span>
      <span class="home__optionsContainer flex">
        <button class="home__optionsContainer__addReader btn home-btn">Ajouter un lecteur</button>
        <button class="home__optionsContainer__search btn home-btn">Effectuer une recherche</button>
      </span>
    </section>
    <section class="outRequests__step1 hidden">
      <h2 class="outRequests__step1__title title">Vérifier si le document est disponible dans le réseau via Adlib</h2>
      <button class="outRequests__step1__btn btn home-btn" type="button">C'est fait !</button>
    </section>
    <section class="outRequests__step2 hidden">
      <h2 class="outRequests__step2__title title">Faire la demande via Samarcande</h2>
      <button class="outRequests__step2__btn btn home-btn" type="button">Direction Samarcande !</button>
      <button class="outRequests__step2__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="outRequests outRequests__step3 hidden">
      <form class="outRequests__form flex" action="/" method="post">
        <h2 class="title">Informations PIB</h2>
        <span class="outRequests__form__pibInfo flex">
          <input class="outRequests__form__pibInfo__pibNb input" type="number" placeholder="Numéro PIB..." minlength="6" maxlength="6" required="true">
          <input class="outRequests__form__pibInfo__borrowingLibrary input" type="text" placeholder="Bibliothèque emprunteuse..." required="true">
          <input class="outRequests__form__pibInfo__loanLibrary input" type="text" placeholder="Bibliothèque d'origine..." value="Perwez" required="true">
          <input class="outRequests__form__pibInfo__requestDate input" type="date" required="true">
          <label for="isOutProvince">Hors-Province ?</label>
          <input class="outRequests__form__pibInfo__outProvince input" type="checkbox" name="isOutProvince">
        </span>
        <h2 class="title">Informations du document</h2>
        <span class="outRequests__form__docInfo flex">
          <input class="outRequests__form__docInfo__title input" type="text" placeholder="Titre du document..." required="true">
          <input class="outRequests__form__docInfo__author input" type="text" placeholder="Auteur du document..." required="true">
          <input class="outRequests__form__docInfo__cdu input" type="text" placeholder="CDU..." required="true">
        </span>
        <span class="outRequests__form__btnContainer flex">
          <button class="outRequests__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
          <button class="outRequests__form__btnContainer__submit btn btn--submit" type="submit">Valider</button>
        </span>
      </form>
    </section>
    <section class="inRequests inRequests__step1 hidden">
      <form class="inRequests__form flex" action="/" method="post">
        <h2 class="title">Informations PIB</h2>
        <span class="inRequests__form__pibInfo flex">
          <input class="inRequests__form__pibInfo__pibNb input" type="number" placeholder="Numéro PIB..." minlength="6" maxlength="6" required="true">
          <input class="inRequests__form__pibInfo__borrowingLibrary input" type="text" placeholder="Bibliothèque emprunteuse..." required="true">
          <input class="inRequests__form__pibInfo__loanLibrary input" type="text" placeholder="Bibliothèque d'origine..." value="Perwez" required="true">
          <input class="inRequests__form__pibInfo__requestDate input" type="date" required="true">
          <label for="isOutProvince">Hors-Province ?</label>
          <input class="inRequests__form__pibInfo__outProvince input" type="checkbox" name="isOutProvince">
        </span>
        <h2 class="title">Informations du lecteur</h2>
        <span class="inRequests__form__readerInfo flex">
          <span class="inRequests__form__readerInfo__container flex">
            <input class="inRequests__form__readerInfo__container__name input" type="text" placeholder="Nom du lecteur..." required="true">
            <span class="inRequests__form__readerInfo__container__autocomplete hidden"></span>
          </span>
          <input class="inRequests__form__readerInfo__mail input" type="email" placeholder="Adresse email...">
        </span>
        <h2 class="title">Informations du document</h2>
        <span class="inRequests__form__docInfo flex">
          <input class="inRequests__form__docInfo__title input" type="text" placeholder="Titre du document..." required="true">
          <input class="inRequests__form__docInfo__author input" type="text" placeholder="Auteur du document..." required="true">
          <input class="inRequests__form__docInfo__cdu input" type="text" placeholder="CDU..." required="true">
          <input class="inRequests__form__docInfo__inv input" type="text" placeholder="N° d'inventaire..." required="true">
        </span>
        <span class="inRequests__form__btnContainer flex">
          <button class="inRequests__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
          <button class="inRequests__form__btnContainer__submit inRequests__step1__btn btn btn--submit" type="submit">Valider</button>
        </span>
      </form>
      <span class="inRequests__barcode flex"></span>
    </section>
    <section class="inRequests__step2 hidden">
      <h2 class="inRequests__step2__title title">Encoder le document dans le module <i>PIB</i> d'AdLib</h2>
      <button class="inRequests__step2__btn btn home-btn" type="button">C'est fait !</button>
      <span class="inRequests__step2__reminder flex">
        <section class="inRequests__step2__reminder__content flex">
          <h3 class="inRequests__step2__reminder__content__title title">Informations du document</h3>
          <span class="inRequests__step2__reminder__content__item flex">
            <p class="inRequests__step2__reminder__content__item__label">Titre</p>
            <p class="inRequests__step2__reminder__content__item__title"></p>
          </span>
          <span class="inRequests__step2__reminder__content__item flex">
            <p class="inRequests__step2__reminder__content__item__label">Auteur</p>
            <p class="inRequests__step2__reminder__content__item__author"></p>
          </span>
          <span class="inRequests__step2__reminder__content__item flex">
            <p class="inRequests__step2__reminder__content__item__label">N° d'inventaire</p>
            <p class="inRequests__step2__reminder__content__item__inv"></p>
          </span>
        </section>
        <section class="inRequests__step2__barcode">
          <h3 class="inRequests__step2__reminder__content__title title">N° d'inventaire</h3>
        </section>
      </span>
    </section>
    <section class="inRequests__step3 hidden">
      <h2 class="inRequests__step3__title title">Faire la demande via Samarcande</h2>
      <button class="inRequests__step3__btn btn home-btn" type="button">Direction Samarcande !</button>
      <button class="inRequests__step3__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="inReturns__step1 hidden">
      <h2 class="inReturns__step1__title title">Effectuer le retour dans Adlib</h2>
      <button class="inReturns__step1__btn btn home-btn" type="button">C'est fait !</button>
      <p class="protip">Modifier le statut de l'exemplaire en indiquant <i>mise au retrait (retour bibliothèque)</i> 😉</p>
    </section>
    <section class="inReturns__step2 hidden">
      <h2 class="inReturns__step2__title title">Effectuer le retour dans Samarcande</h2>
      <button class="inReturns__step2__btn btn home-btn" type="button">Direction Samarcande !</button>
      <button class="inReturns__step2__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="inReturns__step3 hidden">
      <h2 class="inReturns__step3__title title">Effectuer le retour dans PIB Manager</h2>
      <input class="inReturns__step3__input input" type="text" placeholder="Numéro d'exemplaire...">
      <button class="inReturns__step3__btn btn home-btn" type="submit">Valider</button>
      <button class="inReturns__step3__confirmation btn btn--green" type="button">J'ai terminé !</button>
    </section>
    <section class="outReturns__step1 hidden">
      <h2 class="outReturns__step1__title title">Effectuer le retour dans Adlib</h2>
      <button class="outReturns__step1__btn btn home-btn" type="button">C'est fait !</button>
      <p class="protip">Les amendes dues par les autres bibliothèques ne sont jamais prises en compte 😉</p>
    </section>
    <section class="outReturns__step2 hidden">
      <h2 class="outReturns__step2__title title">Effectuer le retour dans Samarcande</h2>
      <button class="outReturns__step2__btn btn home-btn" type="button">Direction Samarcande !</button>
      <button class="outReturns__step2__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="outReturns__step3 hidden">
      <h2 class="outReturns__step3__title title">Effectuer le retour dans PIB Manager</h2>
      <input class="outReturns__step3__input input" type="text" placeholder="Numéro PIB...">
      <button class="outReturns__step3__btn btn home-btn" type="submit">Valider</button>
      <button class="outReturns__step3__confirmation btn btn--green" type="button">J'ai terminé !</button>
    </section>
    <section class="addReader__step1 hidden">
      <h2 class="addReader__step1__title title">Ajouter un lecteur</h2>
      <form class="addReader__step1__form flex" action="/" method="post">
        <h3 class="addReader__step1__form__title title">Nom et prénom</h3>
        <span class="addReader__step1__form__nameContainer flex">
          <input class="addReader__step1__form__nameContainer__readerName input" type="text" placeholder="Nom">
          <input class="addReader__step1__form__nameContainer__readerFirstName input" type="text" placeholder="Prénom">
        </span>
        <h3 class="addReader__step1__form__title title">Adresse email</h3>
        <input class="addReader__step1__form__email__input input" type="email" placeholder="Adresse email">
        <h3 class="addReader__step1__form__title title">Sexe</h3>
        <span class="addReader__step1__form__male flex">
          <input class="addReader__step1__form__male__input input radio" name="gender" type="radio" value="masculin">
          <label class"addReader__step1__form__male__label" for="male">Masculin</label>
        </span>
        <span class="addReader__step1__form__female flex">
          <input class="addReader__step1__form__female__input input radio" name="gender" type="radio" value="féminin">
          <label class"addReader__step1__form__female__label" for="female">Féminin</label>
        </span>
        <span class="addReader__step1__form__btnContainer flex">
          <button class="addReader__step1__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
          <button class="addReader__step1__form__btnContainer__submit btn btn--submit" type="submit">Valider</button>
        </span>
      </form>
    </section>
  </div>
  <div class="confirmation hidden">
    <div class="confirmation__body flex">
      <span class="confirmation__body__msg">La demande a bien été enregistrée 😉</span>
      <span class="confirmation__body__comment">Retour au menu principal dans 5 secondes</span>
      <span class="confirmation__body__cancel">J'ai oublié quelque-chose 😱 !</span>
    </div>
  </div>
  <span class="notification hidden">
    <img class="notification__icon" src="./src/scss/icons/thumbs-up.svg" alt="Notification icon">
    <p class="notification__msg"></p>
  </span>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8" type="application/javascript"></script>
  <script src="/socket.io/socket.io.js" type="application/javascript"></script>
  <script src="/src/js/app.min.js" charset="utf-8" type="application/javascript"></script>
</body>

</html>
