<div class="settings__container hidden">
  <div class="settings__child flex">
    <span class="settings__child__header flex">
      <h1>Paramètres</h1>
    </span>
    <h2 class="settings__child__heading2 settings__child__heading">E-mail de notification</h2>
    <textarea class="settings__child__emailContent" name="email" rows="8" cols="80"></textarea>
    <h2 class="settings__child__heading2 settings__child__heading">Personnalisation</h2>
    <form class="backgroundImageUploadForm flex" action="/" enctype="multipart/form-data" method="post">
      <label for="backgroundImageUploadForm__label">Cet arrière-plan est moche !</label>
      <button class="backgroundImageUploadForm__Btn btn" type="button" name="backgroundImageUploadBtn">Télécharger une image</button>
      <input class="backgroundImageUploadForm__InputFile hidden" type="file" name="backgroundImageUploadInput" accept="image/png, image/jpg">
      <input class="backgroundImageUploadForm__InputUrl input" type="text" name="backgroundImageUrl" value="" placeholder='Insérer un lien'>
    </form>
    <span class="settings__BtnContainer">
      <button class="settings__child__cancelBtn btn btn--red" type="button" name="cancelSettings">Cancel</button>
      <button class="settings__child__saveBtn btn btn--green" type="submit" name="saveSettings">Save settings</button>
    </span>
  </div>
</div>
