body,
html {
  font-size: 1.2em;
  min-height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  @include background-image();

  * {
    font-size: 0.9em;
    font-family: 'Ubuntu Regular', sans-serif;
    color: white;
    letter-spacing: 0.5px;
  }

  .fixed {
    position: fixed;
  }

  .hidden {
    display: none;
  }

  .title {
    height: max-content;
  }

  .translateXbackwards,
  .translateXonwards {
    transition: transform 1200ms;
  }

  .translateXbackwards {
    transform: translateX(-100vw);
  }

  .translateXonwards {
    transform: translateX(100vw);
  }

  .backgroundColor {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .flex {
    display: flex;
  }

  .header {
    width: 14vw;
    height: 10vh;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;

    &__icon {
      margin-left: 3em;
      cursor: pointer;
    }
  }

  .wrapper {
    padding: 0;
    margin-top: 3em;
    width: 100vw;
  }

  .blur {
    filter: blur(5px);
  }

  .confirmation {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
  }
}
