@font-face {
  font-family: 'Ubuntu Regular';
  src: url("../fonts/ubuntu/Ubuntu-R.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster Two Bold Italic';
  src: url('../fonts/lobster/LobsterTwo-BoldItalic.ttf');
  font-weight: normal;
  font-style: normal;
}
