.draft {
  &__child {
    width: 70%;
    height: 70%;
    flex-direction: column;
    background-color: $translucent-black;
    border-radius: 0.5em;
    @include box-shadow;

    &__container {
      width: 100%;
      height: 90%;
      padding: 0 0.5em;

      &__comment,
      &__reader {
        width: 50%;
        height: 100%;
        flex-direction: column;
        font-size: 1em;
      }

      &__reader {
        position: relative;
        top: 0;

        &__btnContainer {
          position: absolute;
          top: 90%;
          width: 100%;
          justify-content: space-around;
        }

        &__label {
          flex-direction: column;

          input {
            width: 50%;
          }

          &__autocomplete {
            @include autocomplete;
          }
        }
      }
    }

    &__title {
      font-size: 1.1em;
    }

    .title {
      text-align: center;
    }
  }
}
