.inRequests {
  margin-left: 3em;
  width: 100%;

  &__barcode {
    width: 50%;
  }

  &__step2,
  &__step3 {
    @include simple-step();
  }

  &__step2 {
    &__barcode {
      width: 50%;
      margin-left: 2em;

      svg {
        height: 50%;
      }
    }

    &__reminder {
      width: 80%;
      height: 100%;
      margin-top: 2em;
      flex-direction: row;
      font-size: 1.1em;

      &__content {
        width: 50%;
        height: 100%;
        flex-direction: column;

        &__item {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
        }
      }
    }
  }

  &__title {
    text-decoration: underline;
    font-size: 1.3em;
    width: 100vw;
    text-align: center;
  }

  &__form {
    font-size: 1.05em;
    flex-direction: column;
    width: 50%;

    label {
      align-self: center;
    }

    h2 {
      margin: 0;
    }

    &__docInfo,
    &__pibInfo,
    &__readerInfo,
    &_btnContainer {
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }

    &__btnContainer {
      margin-top: 3em;
      width: 100%;
      align-self: center;
      justify-content: space-evenly;
    }

    &__readerInfo {
      align-items: center;

      &__container {
        flex-direction: column;

        &__autocomplete {
          flex-direction: column;
          @include input;
          margin: 0 0 1em;
          background-color: rgba(0, 0, 0, 0.8);
          position: absolute;
          max-height: 10em;
          overflow: auto;

          p {
            margin: 0;
            padding: 0.5em;
            text-overflow: ellipsis;
            min-width: 0;
            white-space: nowrap;

            &:hover {
              color: black;
              background-color: $input-border;
              cursor: pointer;
            }
          }
        }
      }
    }

    &__docInfo,
    &__readerInfo {
      &__container,
      &__mail {
        width: 45%;
      }

      &__container {
        &__autocomplete,
        .input {
          width: 100%;
        }
      }
    }

    .warning {
      @include warning;
    }
  }
}
