.inRequests {
  margin-left: 3em;
  width: 100%;

  &__barcode {
    width: 50%;
    height: 50%;
  }

  &__title {
    text-decoration: underline;
    font-size: 1.3em;
    width: 100vw;
    text-align: center;
  }

  &__form {
    font-size: 1.05em;
    flex-direction: column;
    width: 50%;

    label {
      align-self: center;
    }

    h2 {
      margin: 0;
    }

    &__docInfo,
    &__pibInfo,
    &__readerInfo,
    &_btnContainer {
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }

    &__btnContainer {
      margin-top: 3em;
      width: 100%;
      align-self: center;
      justify-content: space-evenly;

      &__reset {
        background-color: red;
      }

      &__submit {
        background-color: green;
      }
    }

    &__docInfo,
    &__readerInfo {
      .input {
        width: 45%;
      }
    }

    .warning {
      color: red;
      font-style: italic;
      align-self: center;
      margin-top: 1.5em;
      font-size: 1.05em;
      padding: 1em;
      border-radius: 0.5em;
      background-color: rgba(0,0,0,0.5);
    }
  }
}
