.inRequests {
  margin-left: 3em;
  width: 100%;

  &__barcode {
    width: 50%;
    align-items: center;
    justify-content: center;

    svg {
      height: 75%;
      width: 75%;
    }
  }

  &__step1,
  &__step3,
  &__step4 {
    @include simple-step();
  }

  &__step4__container {
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;

    &__autocomplete {
      @include autocomplete;
    }
  }

  &__title {
    text-decoration: underline;
    font-size: 1.3em;
    width: 100vw;
    text-align: center;
  }

  &__form {
    font-size: 1.05em;
    flex-direction: column;
    width: 50%;

    label {
      align-self: center;
    }

    h2 {
      margin: 0;
    }

    &__docInfo,
    &__pibInfo,
    &__readerInfo,
    &_btnContainer {
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }

    &__btnContainer {
      margin-top: 3em;
      width: 100%;
      align-self: center;
      justify-content: space-evenly;

      &__hide {
        position: relative;
        top: 0;
        left: 100%;
        margin: 0;
      }
    }

    &__readerInfo {
      align-items: center;

      &__container {
        flex-direction: column;

        &__autocomplete {
          @include autocomplete;
        }
      }
    }

    &__docInfo,
    &__readerInfo {
      &__container,
      &__mail {
        width: 45%;
      }

      &__container {
        &__autocomplete,
        .input {
          width: 100%;
        }
      }
    }
  }
}
