.outRequests {
  flex-direction: column;
  margin-left: 3em;
  width: 50%;

  &__step1,
  &__step2,
  &__step3 {
    @include simple-step();
  }

  &__step4__title {
    font-family: 'Lobster Two Bold Italic', sans-serif;
    font-size: 1.5em;
    margin: 0 0 1em;
  }

  &__title {
    text-decoration: underline;
    font-size: 1.3em;
    width: 100vw;
    text-align: center;
  }

  &__form {
    font-size: 1.05em;
    flex-direction: column;

    label {
      align-self: center;
    }

    h2 {
      margin: 0;
    }

    &__docInfo,
    &__pibInfo,
    &__readerInfo,
    &_btnContainer {
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }

    &__btnContainer {
      margin-top: 3em;
      width: 45%;
      align-self: center;
      justify-content: space-evenly;
    }

    &__docInfo,
    &__readerInfo {
      .input {
        width: 45%;
      }
    }
  }
}
